logs
*.log

pids
*.pid
*.seed

lib-cov

coverage

.grunt

.lock-wscript

build/Release

node_modules

bower_components/
.DS_Store
dist/

build

*.mat
neural-style-transfer/images
neural-style-transfer/output
